.contact-section {
    padding: 40px 20px;
    text-align: left;
    min-height: 75vh; /* Ensures it covers the full viewport height */
  }
 .contact-section h2{
   margin: 0;
  font-size: 40px;
  color: rgb(146, 128, 143);    
  font-weight: 700;
  margin-bottom: 35px;
  text-align: left;
  margin-left: 100px;
  margin-top: 30px;
 }

.contact-container {
  max-width: 1200px;
  margin: auto;
}



.con {
  font-size: 1.5rem;
  color: #555;
}

.contact-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media (min-width: 992px) {
  .contact-content {
    flex-direction: row;
  }
}

.contact-form {
  flex: 2;
}

.contact-form p {
  margin-bottom: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px 0;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
}

.form-group textarea {
  height: 100px;
  resize: vertical;
}

.sticky-button {
    background-color: #ffc0cb; /* Pink button */
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 30px;
    padding-right: 80px;
    padding-left: 80px;
    border: none;
    border-radius: 10px; /* Rounded button */
    cursor: pointer;
    transition: background 0.3s ease;
    height: 60px;
}

.sticky-button:hover {
    background-color: #FFC0CB; /* Darker pink on hover */
    transform: scale(1.05);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}