.footer {
    width: 100%;
    background: white; /* Light pink to match your theme */
    color: rgb(146, 128, 143);
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    height: 40px;
    padding-top: 15px;
    padding-bottom: 60px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}
