.start-content {
    background: linear-gradient(to right, white, #ffcccb, #ffc0cb);
    min-height: 90vh; /* Ensures it covers the full viewport height */
    display: flex;
}

/*styling the image*/
.pentagon-image {
    width: 730px;
    height: 630px;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    object-fit: cover;
    margin-top: -10px;
    margin-left: -100px;
    animation: floating 5s ease-in-out infinite;

}

@keyframes floating {
    0% {
        transform: translateY(0px) rotate(-2deg);
    }
    50% {
        transform: translateY(5px) rotate(2deg);
    }
    100% {
        transform: translateY(0px) rotate(-2deg);
    }
}

/*styling the content*/

