/* Input container to wrap the input and button */
.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
}

/* Styled input to match button */
.styled-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
  height: 3rem;
  background-size: 300% 300%;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), linear-gradient(137.48deg, #ffdb3b 10%,#ea91c6 45%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin-top: 50px;
  padding: 0 1rem;
  box-sizing: border-box;
  cursor: pointer;
  color: #ffffff; /* Text color to match button text */
  text-align: center;
}

.styled-input input[type="file"] {
  display: none;
}

/* Match hover and active states */
.styled-input:hover {
  transform: scale(1.1);
}

.styled-input:active {
  border: double 4px #FE53BB;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

/* Style for the file name display */
#file-name {
  font-family: 'Avalors Personal Use';
  font-size: 12px;
  letter-spacing: 1px;
  color: #FFFFFF;
  text-shadow: 0 0 2px white;
}
